## **Automated Analysis and Visualization of Global Hospital Data ü©∫**

**üè•Overview:**

This project analyzes a comprehensive global health dataset to determine disease prevalence, identify epidemiological trends, and present findings through automation and interactive visualization. The dataset spans multiple countries and years, covering various diseases, treatments, and healthcare outcomes.

The analysis supports health policy planning, epidemiological research, and predictive modeling, enabling data-driven decisions that can improve healthcare delivery and resource allocation.

**Libraries to use:**

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
df = pd.read_csv("global_health_stats.csv")

**Understand the Data Structure:**

In [6]:
df.head()

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,Italy,2013,Malaria,Respiratory,0.95,1.55,8.42,0-18,Male,471007,...,7.58,Medication,21064,No,91.82,4493,2.16,16886,0.79,86.02
1,France,2002,Ebola,Parasitic,12.46,8.63,8.75,61+,Male,634318,...,5.11,Surgery,47851,Yes,76.65,2366,4.82,80639,0.74,45.52
2,Turkey,2015,COVID-19,Genetic,0.91,2.35,6.22,36-60,Male,154878,...,3.49,Vaccination,27834,Yes,98.55,41,5.81,12245,0.41,40.20
3,Indonesia,2011,Parkinson's Disease,Autoimmune,4.68,6.29,3.99,0-18,Other,446224,...,8.44,Surgery,144,Yes,67.35,3201,2.22,49336,0.49,58.47
4,Italy,2013,Tuberculosis,Genetic,0.83,13.59,7.01,61+,Male,472908,...,5.90,Medication,8908,Yes,50.06,2832,6.93,47701,0.50,48.14

In [7]:
df.describe()

,Year,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Population Affected,Healthcare Access (%),Doctors per 1000,Hospital Beds per 1000,Average Treatment Cost (USD),Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,2011.996999,10.047992,7.555005,5.049919,500735.427363,74.987835,2.747929,5.245931,25010.313665,74.496934,2499.144809,5.002593,50311.099835,0.650069,54.985212
std,7.217287,5.740189,4.298947,2.859427,288660.116648,14.436345,1.299067,2.742865,14402.279227,14.155168,1443.923798,2.888298,28726.959359,0.144472,20.214042
min,2000.000000,0.100000,0.100000,0.100000,1000.000000,50.000000,0.500000,0.500000,100.000000,50.000000,1.000000,0.000000,500.000000,0.400000,20.000000
25%,2006.000000,5.090000,3.840000,2.580000,250491.250000,62.470000,1.620000,2.870000,12538.000000,62.220000,1245.000000,2.500000,25457.000000,0.530000,37.470000
50%,2012.000000,10.040000,7.550000,5.050000,501041.000000,75.000000,2.750000,5.240000,24980.000000,74.470000,2499.000000,5.000000,50372.000000,0.650000,54.980000
75%,2018.000000,15.010000,11.280000,7.530000,750782.000000,87.490000,3.870000,7.620000,37493.000000,86.780000,3750.000000,7.510000,75195.000000,0.780000,72.510000
max,2024.000000,20.000000,15.000000,10.000000,1000000.000000,100.000000,5.000000,10.000000,50000.000000,99.000000,5000.000000,10.000000,100000.000000,0.900000,90.000000

In [8]:
df.shape

(1000000, 22)

In [9]:
df.columns

Index(['Country', 'Year', 'Disease Name', 'Disease Category',
       'Prevalence Rate (%)', 'Incidence Rate (%)', 'Mortality Rate (%)',
       'Age Group', 'Gender', 'Population Affected', 'Healthcare Access (%)',
       'Doctors per 1000', 'Hospital Beds per 1000', 'Treatment Type',
       'Average Treatment Cost (USD)', 'Availability of Vaccines/Treatment',
       'Recovery Rate (%)', 'DALYs', 'Improvement in 5 Years (%)',
       'Per Capita Income (USD)', 'Education Index', 'Urbanization Rate (%)'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 22 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Country                             1000000 non-null  object
 1   Year                                1000000 non-null  int64
 2   Disease Name                        1000000 non-null  object
 3   Disease Category                    1000000 non-null  object
 4   Prevalence Rate (%)                 1000000 non-null  float64
 5   Incidence Rate (%)                  1000000 non-null  float64
 6   Mortality Rate (%)                  1000000 non-null  float64
 7   Age Group                           1000000 non-null  object
 8   Gender                              1000000 non-null  object
 9   Population Affected                 1000000 non-null  int64
 10  Healthcare Access (%)               1000000 non-null  float64
 11  Doctors per 1000                    1000000 non-null  float64
 12  Hospital Beds per 1000              1000000 non-null  float64
 13  Treatment Type                      1000000 non-null  object
 14  Average Treatment Cost (USD)        1000000 non-null  int64
 15  Availability of Vaccines/Treatment  1000000 non-null  object
 16  Recovery Rate (%)                   1000000 non-null  float64
 17  DALYs                               1000000 non-null  int64
 18  Improvement in 5 Years (%)          1000000 non-null  float64
 19  Per Capita Income (USD)             1000000 non-null  int64
 20  Education Index                     1000000 non-null  float64
 21  Urbanization Rate (%)               1000000 non-null  float64
dtypes: float64(10), int64(5), object(7)
memory usage: 167.8+ MB

**Handle Missing Data:**

In [12]:
df.isna().sum()

Country                               0
Year                                  0
Disease Name                          0
Disease Category                      0
Prevalence Rate (%)                   0
Incidence Rate (%)                    0
Mortality Rate (%)                    0
Age Group                             0
Gender                                0
Population Affected                   0
Healthcare Access (%)                 0
Doctors per 1000                      0
Hospital Beds per 1000                0
Treatment Type                        0
Average Treatment Cost (USD)          0
Availability of Vaccines/Treatment    0
Recovery Rate (%)                     0
DALYs                                 0
Improvement in 5 Years (%)            0
Per Capita Income (USD)               0
Education Index                       0
Urbanization Rate (%)                 0
dtype: int64

In [13]:
df.duplicated().sum()

0

**Standardize Data Formats:**

In [15]:
df['Year'] = pd.to_datetime(df['Year'], format="%Y")

In [16]:
df["Age Group"] = df["Age Group"].astype("category")

In [17]:
df[['Disease Name','Disease Category','Treatment Type']] = (
    df[['Disease Name','Disease Category','Treatment Type']].apply(lambda col:col.str.title().str.strip()))